@inject HttpClient _httpClient;
@page "/"

<div class="app">
    <div class="header">
        Laboratorium 5-6 PUP
    </div>
    <div class="subheader">
        wyszukiwarka TMDb
    </div>
    <div class="content">
        <div class="search">
            @if(_showParameters)
            {
                <div class="item">
                    <div class="options"><b class="material-icons" @onclick=ShowParameter>expand_less</b></div>
                    @if(_searchType == 0)
                    {
                        <b>Wyszukiwarka filmów</b>
                        <label>Tytuł (wymagany)</label>
                        <input type="text" placeholder="tytuł" @bind-value=_movieTitle  />
                        <label>Rok</label>
                        <input type="number" placeholder="2020" @bind-value=_movieYear />
                        <label>Język</label>
                        <input type="text" placeholder="pl" @bind-value=_movieRegion />
                    } 
                    else
                    {
                        <b>Wyszukiwarka filmów według aktorów</b>
                        <label>Aktor</label>
                        <input type="text" placeholder="imię i nazwisko" />
                    }
                </div>
                <div class="item">
                    <label>Szukaj według:</label>
                    <select @onchange=ChangeSearchType>
                        <option value="0">Film</option>
                        <option value="1">Aktor</option>
                    </select>
                </div>
                <div class="item">
                    <button @onclick=LoadMovieList>Wyszukaj</button>
                </div>
            }
            else
            {
                <div class="item">
                    <div class="options"><b class="material-icons" @onclick=ShowParameter>expand_more</b></div>
                </div>
            }
        </div>
        @if(_movies.Count > 0)
        {
             <div class="result">
                @foreach(var movie in _movies)
                {
                    <div class="item">
                        <div class="left">
                            <div class="title">
                                @movie.Title
                            </div>
                            <div class="overview">
                                @movie.Overview
                            </div>
                        </div>
                        <div class="right">
                            @movie.VoteAverage
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@code{
    //klucz api
    private string _apiKey = "api_key=dabfcf9c4ae2cb94e97728829780a2cd"; 
    private ICollection<Movie>? _movies { get; set; } = new List<Movie>();
    private int _searchType { get; set; } = 0;
    private bool _showParameters { get; set; } = true;
    // parametry wyszukiwania
    private string? _movieTitle { get; set; }
    private int? _movieYear { get; set; }
    private string? _movieRegion { get; set; } = "pl";

    private async Task LoadMovieList()
    {
        _movies.Clear();
        if (_searchType == 0)
            _movies = await GetListByMovieFilterAsync();

        if (_movies.Count > 0)
            _showParameters = false;
        else
            _showParameters = true;
    }

    private string BuildQueryByMovieFilter()
    {
        string query = "";
        if (!String.IsNullOrEmpty(_movieTitle))
            query += _movieTitle;

        if(query.Length > 0)
            return "&query=" + System.Web.HttpUtility.UrlEncode(query);

        return "";
    }

    private string BuildOptionalParameterByMovieFilter()
    {
        string query = "";
        if(_movieYear.HasValue)
            query += $"&year={_movieYear}";
        if (!String.IsNullOrEmpty(_movieRegion))
            query += $"&language={_movieRegion}";
        return query;
    }

    private async Task<ICollection<Movie>> GetListByMovieFilterAsync()
    {
        var result = new List<Movie>();
        var jsonToDeserialize = await _httpClient.GetStringAsync($"3/search/movie?{_apiKey}{BuildQueryByMovieFilter()}{BuildOptionalParameterByMovieFilter()}");
        if (String.IsNullOrEmpty(jsonToDeserialize))
            return result;
        dynamic dJson = JsonConvert.DeserializeObject(jsonToDeserialize);
        if (dJson.results != null)
            foreach (dynamic data in dJson.results)
                result.Add(new Movie { OriginalTitle = data.original_title, Title = data.title, Adult = data.adult, Budget = data.budget, Overview = data.overview, ReleaseDate = data.release_date, OriginalLanguage = data.original_language, VoteAverage = data.vote_average });
        return result;
    }

    private void ChangeSearchType(ChangeEventArgs arg)
    {
        try
        {
            _searchType = Convert.ToInt32(arg.Value);
        }
        catch
        {
            _searchType = 1;
        }
    }

    private void ShowParameter()
    {
        if (_showParameters)
            _showParameters = false;
        else
            _showParameters = true;
    }
}