@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.app {
  background: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  border-bottom: 3px dashed #dedede;
}
.app .header {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-family: "Patrick Hand", cursive;
  font-size: 1.6rem;
}
.app .subheader {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-family: "Patrick Hand", cursive;
  font-size: 1rem;
}
.app .content {
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.app .content .search {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5px;
}
.app .content .search .item {
  display: flex;
  flex-direction: column;
}
.app .content .search .item .options {
  display: flex;
  justify-content: flex-end;
}
.app .content .search .item .options .material-icons {
  transition: background 1s;
}
.app .content .search .item .options .material-icons:hover {
  background: black;
  color: white;
}
.app .content .item {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
}
.app .content .result .item {
  padding: 6px;
}
.app .content .result .item .left {
  display: flex;
  flex: 8;
  flex-direction: column;
}
.app .content .result .item .left .title {
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
}
.app .content .result .item .left .overview {
  justify-content: center;
  font-size: 0.7rem;
  padding: 4px;
}
.app .content .result .item .right {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 15px;
}
